.movie-filter-container {
  margin-bottom: 20px;
  padding: 5px 20px;
}

.movie-filter-genre-container {
  width: 260px;
  height: 50px;
}

.movie-filter-select{
  height: 100%;
  border-color: #e1e1e1;
  border-radius: 4px;
}

.movie-filter-select__control {
  font-size: 1em;
  letter-spacing: -0.015em;
  background-color: #6c6c6c !important;
  color:#ffffff !important;
}

.movie-filter-select__indicator-separator {
  display: none;
}

@media (min-width: 1200){
  .movie-filter-container {
   
    padding: 15px 20px;
  }
}