.home-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.home-banner-container {
  display: none;
}
.home-form-container {
  width: 100%;
}

@media (min-width: 576px) {

  .home-form-container {
    width: 480px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    padding: 40px;
  }
  .home-banner-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 400px;
  }
  .home-banner-container h1 {
    padding: 0px 20px 0px 20px;
    font-size: 48px;
    letter-spacing: -0.015em;
    margin-bottom: 15px;
  }
  .home-banner-container p {
    padding: 0px 20px 0px 20px;
    font-size: 22px;
    color: #f2f2f2;
  }
  .home-banner-container svg {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .home-banner-container h1 {
    font-size: 55px;
    margin-bottom: 25px;
  }
  .home-banner-container p {
    font-size: 24px;
  }
}
