.main-nav {
  padding-left: 8px;
  min-height: 70px;
}
.nav-logo-text h4 {
  color: black;
  font-size: 24px;
}

.nav-logout{
  border: 1px solid #000 ;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-weight: 700;
}

@media (min-width: 576px) {
  .main-nav {
    padding-left: 14px;
  }
}

@media (min-width: 768px) {
    .main-nav {
      padding-left: 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .main-nav {
      padding-left: 40px;
    }
  }
  